<!DOCTYPE html>
<html>
<head>

	<title>{% block title %}{% endblock %} Aprende Silex</title>

	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		{% block container %}	
			Override
		{% endblock %}

		<footer>
			{% block footer %}
				curso de silex
			{% endblock %}
		</footer>
	</div>

</body>
</html>