{% extends 'base.html.twig' %}

{% block header %}
  <h1>Hello {{name}}!</h1>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    Plantillas con twig
  </div>
{% endblock %}

{% block sidebar_second %}
  <div class="list-group">
    <a href="#" class="list-group-item">{{ "now" | date('H:i','America/New_york') }}</a>
    <a href="#" class="list-group-item">{{ "yesterday" | date }}</a>
    <a href="#" class="list-group-item">{{ "tomorrow" | date }}</a>
  </div>
{% endblock %}
